/* .top-Acontainer {
  
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 7vh;
    background-color: #ffffff;
   
} */
/* Grid layout for sidebar + content */
.top-Acontainer {
    flex: 1;                     
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 7vh;
    overflow-y:auto;
    min-height: 80vh;         
    width: 100vw;                
}


.sidebar {
    background-color: #3374d6;
    min-height: 100%;
}


.main {
    background-color: #ffffffd2;  
    overflow-y: auto;          
    max-height: calc(100vh - 7vh); 
}

.footer-container{
    background-color: #872d2d;
  
   
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (max-width:768px) {
    .sidebar {
       display: none;
        }
}