.top-container {
    /* background-image: url("../../assets/images/mumbai-skyline.jpg"); */
    background:
        linear-gradient(rgba(0, 123, 255, 0.5), rgba(7, 31, 56, 0.5)),
        /* blue transparent overlay */
        url("../../assets/images/mumbai-skyline.jpg");

    background-size: cover;
    /* Scale image to cover entire area */
    background-position: center;
    /* Center image */
    background-repeat: no-repeat;
    /* Prevent repeating */
    width: 100vw;
    height: 100vh;
    filter: brightness(40%);
    margin: 0;
    padding: 0;
    z-index: -10;

}

.content {
   
   
    position: absolute;
    top: 20vh;  

    width: 100vw;
    color: white;
    /* border: 1px solid red; */
    display: flex;
  
}
.left{
    /* border: 1px solid red; */
    padding-left:10vw ;
    width: 50%;
     font-size: 6vw;
     padding-top: 10%;
   
}
.right{
    background-color: #27318cf3;
    display: flex;
      align-items: center;
    flex-direction: column;
    min-width:  20%;
    padding: 1vw 3vw;
    border-radius: 5px;
    box-shadow: 5px 5px 25px black;
    margin-top: 10vh;
}
.content input ,.content button{
    background-color: #fff;
    margin: 0.5em;
    padding: 0.5em;
    color: black;
    font-size: 1.3em;
    border-radius: 5px;
    outline: none;
}
.content button{
     color: rgb(243, 243, 243);
      background-color: #000000;
      width: 100%;
}
.right a{
    display: inline;
}
.right .title{
   margin-bottom: 2vw;
    font-size: 2em;
}

.building-card {
    background-color: #bac6e0df;
    display: flex;
    padding: 10px;
    gap: 10px;
}