.client-sidebar {
  width: 100%;
  height: 100%;
  background-color: #3374d6;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 7vh;
}
.user-side{
    margin: 3vh auto;
   font-size: 1.6rem;
    text-align: center;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
 
  flex-wrap: nowrap;  /* prevent wrapping */

}

.checkbox-label {
  display: flex;
  align-items: center; 
  gap: 0.5rem;
  font-size: 14px;

}
.check-label-group{
  border: 1px solid red;

}

.client-sidebar h3 {
  margin-bottom: 20px;
  font-size: 22px;
}

.filter-group {
  margin-bottom: 15px;
}

.filter-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.filter-group input,
.filter-group select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #fff;
}
input[type="checkbox"]{
    background-color: #fff;
    color: #ffffff;
    width: 20px;
}
.filter-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.apply-btn,
.reset-btn {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-btn {
  background-color: #1d4ed8;
  color: white;
}

.reset-btn {
  background-color: #dc2626;
  color: white;
}

@media (max-width:768px) {
  .checkbox-group{
    flex-direction: row;
  }
  .user-side{
    display: none;
  }
  input{
    width: 90%;
  }
}