.newly-added {
  width: 90%;
  margin: auto;
  padding: 3vh 0;
}

.newly-added h2 {
  font-size: 2rem;
  font-weight: 600;
}

.newly-added p {
  color: #000000;
  margin-bottom: 2vh;
  margin:  1vw;
 
}

.card-row {
  display: flex;
  gap: 2vw;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 2vh;
}

.card-row::-webkit-scrollbar {
  display: none;
}

.newly-added .property-card {
  width: 35vw;
  flex: 0 0 auto;
  background: rgba(60, 71, 106, 0.509);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 0.5rem;
  margin: 10px;
}

.property-card img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  border-radius: 8px;
}

.property-card h3 {
  font-size: 1.1rem;
  margin: 8px 0;
}

.location {
  font-size: 0.9rem;
  color: gray;
}

.price {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 8px 0;
}

.contact-btn {
  background-color: #fff;
  color: #2d6cdf;
  border: 1px solid #2d6cdf;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: #2d6cdf;
  color: white;
}
@media (max-width: 768px) {
  .property-card {
    min-width: 80vw;
  }

  .property-card img {
    height: 25vh;
  }
}
