.client-card {
  display: flex;
  align-items: flex-start;
  gap: 2vw;
  width: 60vw;
  max-width: 90vw;
  margin: 3vh auto;
  padding: 2vw;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid #eaeaea;
  
}

.client-card:hover {

  box-shadow: 0 0.8em 2em rgba(0, 0, 0, 0.5);
}

.left-section {
  flex: 0 0 15vw;
}

.property-img {
  width: 15vw;
  height: 18vh;
  object-fit: cover;
  border-radius: 0.8em;
}

.middle-section {
  flex: 1;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4em;
}

.title {
  font-size: 1.4em;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.location {
  font-size: 0.9em;
  font-weight: 400;
  color: #555;
  background-color: #f4f4f4;
  padding: 0.3em 0.8em;
  border-radius: 0.6em;
}

.middle-section p {
  margin: 0.4em 0;
  font-size: 1em;
  color: #444;
}

.interest-btn,
.delete-btn {
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 0.95em;
  margin-top: 1em;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.interest-btn {
  background-color: #206593;
  color: white;
  margin-right: 0.8em;
}

.interest-btn:hover {
  background-color: #2b802e;
  transform: scale(1.03);
}

.delete-btn {
  background-color: #d13030;
  color: white;
}

.delete-btn:hover {
  background-color: #e64848;
  transform: scale(1.03);
}

/*  Mobile Responsive */
@media (max-width: 600px) {
  .client-card {
    flex-direction: column;
    width: 90vw;
    padding: 4vw;
  }

  .left-section {
    flex: none;
    width: 100%;
  }

  .property-img {
    width: 100%;
    height: 28vh;
  }

  .title-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
  }

  .interest-btn,
  .delete-btn {
    width: 100%;
    padding: 1em;
    font-size: 1.1em;
  }
}
