.navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 10px;
  /* background: rgba(67, 139, 255, 1);   //0187D4   //rgba(67, 139, 255, 1) */
  background-color:#0a2342 ; /*  0a2342 0187D4 */
  box-sizing: border-box;
}

.icon {
  color: #fff;
 font-size: 30px;
  font-weight:100;

}
.down-icon{

font-size: 40px;

}

.logo-title {
  color: #fff;
  font-weight: 100;
  font-size: 25px;
  padding: 0 10px;
}
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  gap: 10px;
}

.filter{
    display:flex;  
    height: 5vh;
    
}
.search {
  height:100%;
  /* border-radius: 5px 0px 0px 5px;; */
  border: none;
  width: 500px;
  background-color: #fff;
  color:black;
  font-size: 1.1em;
  padding:  3px;
  box-sizing: border-box;
  outline: none;
}
.search-icon{
  
     border-radius: 0px 5px 5px  0px ;;
   background-color: #121fb1;
    cursor: pointer;
}
.filter-span{

    background: #121fb1;
    color: #fff;
   padding-left:20px ;
    padding:5px;
     border-radius:   5px 0px 0px 5px ;;
}

.filterbox{
    position:absolute;  
    background:green;
    border-radius:5px;
}
.search-filter{
  height: 100%;

    cursor:pointer;
}

.filterbox {
  width: 220px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  font-family: sans-serif;
}

.filter-item {
  margin-bottom: 20px;
}

.filter-item label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: lowercase;
}

/* SLIDER STYLE */
.slider {
  width: 100%;
  
  height: 6px;
  background: #e0e0e0;
  border-radius: 10px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.filter-btn {
  background: #333;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


.user {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  padding: 10px 0;
  min-width: 150px;
  z-index: 1000;
}

.dropdown-menu p {
  margin: 0;
  padding: 10px 15px;
  font-size: 0.95rem;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-menu p:hover {
  background-color: #f5f5f5;
}
