.user-name{
    color: black;
}

.side-container{
  
    /* border: 1px solid red; */
    background-color: #3374d6;
    height: 100vh;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 20px;    

}

.side-container button{
    width: 90%;
}