
.add-btn{
    background: #000000;
    margin:  30px;
  padding: 20px;
  font-size: 1.4rem;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.808);
    outline: none;

}
.property-card {
  width: 40vw;
  margin: 25px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}

.property-card,.add-btn:hover {
  transform: scale(1.05);
    outline: none;
    border: none;

}

.property-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.property-info {
  margin: 5px 0;
  font-size: 0.95rem;
  color: #555;
}

.property-info strong {
  color: #000;
}



.container-title {
  text-align: center;
  margin-top: 15px;
  color: #333;
}
