.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-container {
  background: white;
  color: black;
  padding: 25px;
  width: 450px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

.modal-container h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
}

.modal-form input,
.modal-form textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f9f9f9;
  color: black;
}

.modal-form textarea {
  height: 80px;
  resize: none;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-btn,
.save-btn {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.cancel-btn {
  background-color: #888;
  color: white;
}

.save-btn {
  background-color: #007bff;
  color: white;
}

.cancel-btn:hover {
  background-color: #666;
}

.save-btn:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


@media (max-width: 768px) {
  .modal-container {
    width: 95vw;
    max-height: 95vh;
    padding: 20px;
    position: absolute;
    top: 10vh;

  }

  .modal-container h2 {
    font-size: 1.8em;
  }

  .modal-form input,
  .modal-form textarea {
    font-size: 1.3em;
    padding: 10px;
    width: 90%;
  }

  .cancel-btn,
  .save-btn {
    font-size: 1.4em;
    padding: 8px;
    width: 50%;
  }
}